# Environment variables
.env
.env.*

# AWS
.aws/

# Build artifacts
target/
*.jar
*.class
dependency-reduced-pom.xml

# IDE
.vscode/
# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/.terraform.lock.hcl
